<div class="users_all">
  <% @users.each do |user| %>
    <div class="user_index">
      <%= link_to user_path(user) do %>
        <div><%= user.name %><br><%= user.email %></div>
      <% end %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "削除", user_path(user), method: :delete, class:"user_delete" ,data:{confirm: "削除しますか?"}%>
      <% end %>
    </div>
  <% end %>
</div>


