<div class="row">
  <div class="signup-form col-md-4 offset-md-4">
      <%= render "form" %>
      <p>ユーザー新規作成する際のアドレスは以下をお使いください。herokuのmailgunが無料枠なので指定したアドレスしか送れません。</p>
      <p>faqapp2021@gmail.com</p>
      <p>Gmailのログインは<%= link_to "こちら", "https://accounts.google.com/ServiceLogin/signinchooser?service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin"%>から</p>
      <p>Gmailのログインに必要なメールアドレスとパスワード</p>
      <p>メールアドレス:faqapp2021@gmail.com</p>
      <p>パスワード:password2021</p>
      <p>既に使われていますと出た場合はadminユーザーでログインしてユーザーを削除してください</p>
  </div>
</div>
