<div class="sidebar">
  <div>
    <% @categories.each do |category| %>
      <div class="sidebar_category"><%= link_to "#{category.name}", search_path(search_category: category.name) %></div>
    <% end %>
  </div>

</div>
